# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local
kanban.md
.od-skills/agent-browser-ff76ddd73c/SKILL.md
.od-skills/web-prototype-4ab6e4cb5f/SKILL.md
.od-skills/web-prototype-4ab6e4cb5f/references/checklist.md
design-direction-proposal.html
.od-skills/web-prototype-4ab6e4cb5f/example.html
.od-skills/web-prototype-4ab6e4cb5f/open-design.json
.od-skills/web-prototype-4ab6e4cb5f/assets/template.html
.od-skills/web-prototype-4ab6e4cb5f/references/layouts.md
